@font-face {
    font-family: "iconfont"; 
    src: url(./font.ttf);
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-gps-line::before {
    content: "\e70a";
  }
  
  .icon-sousuo::before {
    content: "\e600";
    font-size: 12px;
    color: #000;
  }
  
  .icon-duigouxiao::before {
    content: "\e8bd";
    font-size: 22px;
    color: rgb(62, 181, 62);
  }
  
  .icon-yibiaopan::before {
    content: "\e63c";
  }
  .icon-bangzhu::before {
    content: "\e620";
    font-size: 15px;
  }
  .icon-shezhi::before {
    content: "\e810";
    font-size: 20px;
  }
  .icon-zhuti-04::before {
    content: "\e602";
    font-size: 15px;
  }
  .icon-shuaxin::before {
    content: "\e61c";
    font-size: 15px;
  }
  .icon-shezhi1::before {
    content: "\e63b";
    font-size: 15px;
  }
  .icon-sanjiao1::before {
    content: "\e601";
    font-size: 9px;
    line-height: 8px;
  }
  .icon-sanjiao2::before {
    content: "\e603";
    font-size: 9px;
    line-height: 8px;
  }
  .icon-jia::before {
    content: "\e6d4";
    display: inline-block;
    margin-right: 3px;
    font-size: 14px;
  }
  .icon-sanjiaoxing::before {
    content: "\e609";
    font-size: 10px;
  }
  .icon-bianji::before {
    content: "\e604";
  }
  .icon-sanjiaoxing1::before {
    content: "\e621";
    font-size: 10px;
  }
  .icon-checkboxchecked::before {
    content: "\e72a";
    font-size: 14px;
  }
  .icon-guojihua::before {
    content: "\e681";
    font-size: 14px;
  }
  .icon-diqiu::before {
    content: "\e689";
    font-size: 15px;
  }