.table-wrapper {
    position: relative;
    box-sizing: border-box;
}
.table-container {
    width: *;
    height: *;
    overflow-x: scroll-indicator;
    horizontal-scrollbar: "v-horizontal-indicator";
}
#table {
    width: *;
    height: *;
}
table { 
  width:*; 
  height:*; 
  padding:0;
  border-spacing:0;
  border-collapse: collapse;
  color: #606266;
  font-size: 14px;
}
table tbody tr td{
    height: 27px;
    border: 1px solid rgb(220, 223, 230);
    padding: 0px 12px;
    box-sizing: border-box;
}
table tbody tr td span {
    width: 100%;
    display: block;
    height: 27px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    line-height: 27px;
}
 table tbody tr td span popup[role=overflow-tooltip] {
    background: rgb(48, 49, 51);
    border:1dip solid;
    color: #fff;
    border-radius: 4dip;
    border-color: rgb(48, 49, 51);
    padding:0px 4px;
    margin-bottom: 40px;
    font-size: 12px; 
}
table tbody tr:nth-child(2n) td {
    background-color: rgb(250, 250, 250);
}
table tbody tr:nth-child(2n+1) td {
    background-color: #fff;
}
table tbody tr:hover td:not(.noData) {
    cursor: pointer;
    background-color: var(--tableHover);
}
.scroll-y {
    position: absolute;
    top: 27px;
    right: 0px;
    z-index:  102;
}
